In [1]:
# Standard imports
import numpy as np
import pandas as pd
import ast 

# For scraping
import requests
from bs4 import BeautifulSoup

# For adding delays so that we don't spam requests
import time

import string

import re
import json

In [2]:

def get_genre(str_dic):
    genre_list=[]
    for i in str_dic:
        if i == '"genre":':
            j=str_dic.index(i)+1
            while str_dic[j] not in ['],','"actor":','"director":','"creator":','"datePublished":','}</script>]']:
                for punctuation_mark in string.punctuation:
                    str_dic[j]=str_dic[j].replace(punctuation_mark,'')
                if str_dic[j]!="":   
                    genre_list.append(str_dic[j])
                j+=1
            break  

    return genre_list

In [3]:
df_seventies=pd.read_csv('df_seventies.csv')
df_seventies

          tconst                    primaryTitle  startYear
0      tt0031458        El huésped del sevillano       1970
1      tt0039442                   Habla, mudita       1973
2      tt0058950    Auliban, the Seller of Rings       1973
3      tt0060477          Gregorio and His Angel       1970
4      tt0060551          Itt járt Mátyás király       1973
...          ...                             ...        ...
11058  tt9222182                    Opera Mortem       1973
11059  tt9249616                Amor de Perdição       1979
11060  tt9373894            Farda w'lkat okht'ha       1978
11061  tt9675320   About Some Meaningless Events       1974
11062  tt9859786  Rory Gallagher: Irish Tour '74       1974

[11063 rows x 3 columns]

In [6]:
scrap_df = pd.DataFrame(columns=['tconst', 'genre', 'plot'])
i=0

for tconst in df_seventies['tconst']:

#for tconst in df_movies['tconst'][35494:]:
#for tconst in ['tt0068646','tt0110912','tt0133093','tt0000009','tt0000739','tt0001163','tt0003140','tt0109830']:


    imdb_to_scrap = {'tconst':"", 'genre':[], 'plot':""}
    
    response2=requests.get(f'https://www.imdb.com/title/{tconst}/plotsummary')
    soup2 = BeautifulSoup(response2.content,'html.parser')
        
    if soup2.title.text.strip() != '404 Error - IMDb':
        plot=soup2.find('ul', id="plot-synopsis-content").text.strip()


        if plot!='It looks like we don\'t have a Synopsis for this title yet. Be the first to contribute! Just click the "Edit page" button at the bottom of the page or learn more in the Synopsis submission guide.':

            imdb_to_scrap = {'tconst':tconst, 'genre':[], 'plot':plot}

            # Send a get request and assign the response to a variable
            response1 = requests.get(f'https://www.imdb.com/title/{tconst}/')
            soup1 = BeautifulSoup(response1.content,'html.parser')


            str_dic=str(soup1.findAll('script', {'type':'application/ld+json'})).split()
            imdb_to_scrap['genre']=[get_genre(str_dic)]


            df = pd.DataFrame.from_dict(imdb_to_scrap)
            scrap_df = scrap_df.append(df, ignore_index=True)

            #follow progress: print tconst every 500 iteration
            i+=1
            if i%50==0:
                print(f'after 50 append {tconst}')


scrap_df

after 50 append tt0066495
after 50 append tt0067525
after 50 append tt0068505
after 50 append tt0069895
after 50 append tt0070884
after 50 append tt0071935
after 50 append tt0073293
after 50 append tt0074483
after 50 append tt0075651
after 50 append tt0076740
after 50 append tt0078079
after 50 append tt0079367
after 50 append tt0123025
after 50 append tt0218716
after 50 append tt1538312

,tconst,genre,plot
0,tt0062980,"[Drama, contentRating, R]",Dusty Cole is a young prostitute who lives wit...
1,tt0064106,"[Drama, Thriller]","""Le Boucher"" (The Butcher) starts with a weddi..."
2,tt0064177,"[SciFi, Thriller]",Dr. Charles Forbin (Eric Braeden) stands in th...
3,tt0064285,"[Drama, contentRating, G]",The film is set in the 18th century. A young b...
4,tt0064341,[Drama],Shows the unfailing love of two women for the ...
...,...,...,...
749,tt1538312,"[Drama, contentRating, Not, Rated]",A widow struggles to bring up her two sons and...
750,tt1899143,"[Drama, contentRating, Not, Rated]",When a group of traditional Irish priests (lam...
751,tt2115319,"[Drama, History]",Flame in the Wind is set in the splendor and t...
752,tt2605464,[Action],This film is based on the short story Gandasa ...
753,tt8110960,[Drama],"Hamed leaves his Upper Egypt town, heading to ..."

In [ ]:
scrap_df.to_csv (r'/Users/SanaKrichen/Deskscraped_df_seventies.csv', index = False, header=True)